<h1><%=@bookmark.all.join("<br>")%></h1>
<form action='/add-url' method='POST'>
  <label>Insert the url to save:<br>
  <input type='text' name='bookmark'></label>
  <input type='submit' value='Submit'>
</form>
