<h1>Please enter your info</h1>
<form action='/bookmarks' method='POST'>
  <label>Insert the url and title to save:<br>
  <input type='text' name='bookmark'>
  <input type='text' name='title'></label>
  <input type='submit' value='Submit'>
</form>
